@model DeveloperBlog.Core.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Developer blog</h1>
    <p>Official developer blog for the not yet announced, not so very AAA title Father Needs a Sandwich.</p>
</div>

@if (Model.AllPosts != null)
{
    @foreach (var post in Model.AllPosts)
    {
        <h3>@post.Title</h3>
        <p>@post.ContentShort</p>
    }
}
</div>
